<h1>Director #<%= @director_id %> details</h1>

<a href="/directors">Go back</a>
<hr>
<br>

<div>
  <div>Name</div>
    <div class="indented"><%=@director_info.name%></div>
  <div>Dob</div>
    <div class="indented"><%=@director_info.dob%></div>
  <div>Bio</div>
    <div class="indented"><%=@director_info.bio%></div>
  <div>Image</div>
    <img class="indented" src=<%=@director_info.image%>></div>
  <div>Created at</div>
    <div class="indented"><%=@director_info.created_at%></div>
  <div>Updated at</div>
    <div class="indented"><%=@director_info.updated_at%></div>
</div>
<br>
<hr>

<h1>Filmography</h1>
  <table border="1">
   <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>
  </tr>


  <% (0...@movie_info.length).each do |movie| %>
    <tr>
      <td>
        <%= @movie_info.at(movie).id %>
      </td>
      <td>
        <img src=<%= @movie_info.at(movie).image %>>
      </td>
      <td>
        <%= @movie_info.at(movie).title %>
      </td>
      <td>
        <%= @movie_info.at(movie).year %>
      </td>
      <td>
        <%= @director_info.name %>
      </td>
      <td>
        <a href="/movies/<%= @movie_info.at(movie).id %>">Show details</a>
      </td>
    </tr>
  <% end %>
  </table>

<style>
  .indented {
    margin-left: 40px;
  }

  img {
    width: 250px;
    height: auto;
  }
</style>
