<h1>Movie #<%= @movie_id %> details</h1>

<a href="/movies">Go back</a>
<hr>

<div>
  <div>Title</div>
    <div class="indented"><%=@movie_title%></div>
  <div>Year</div>
    <div class="indented"><%=@movie_year%></div>
  <div>Duration</div>
    <div class="indented"><%=@movie_duration%></div>
  <div>Description</div>
    <div class="indented"><%=@movie_description%>></div>
  <div>Image</div>
    <img class="indented"src=<%=@movie_image%>></div>
  <div>Director</div>
    <div class="indented"><%=Director.where({:id => @movie_info.director_id}).at(0).name%></div>
  <div>Created at</div>
    <div class="indented"><%=@movie_created_at%></div>
  <div>Updated at</div>
    <div class="indented"><%=@movie_updated_at%></div>
</div>
<br>
<hr>

<style>
  .indented {
    margin-left: 40px;
  }

  img {
    width: 250px;
    height: auto;
  }
</style>
