<h1>List of all movies</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= movie['id'] %>
      </td>
      <td>
        <img src=<%= movie['image']%>>
      </td>
      <td>
        <%= movie['title'] %>
      </td>
      <td>
        <%= movie['year'] %>
      </td>
      <td>
        <%= movie['director'] %>
      </td>
      <td>

      </td>
    </tr>
  <% end %>
</table>

<style>
  table {
    border: "1"; 
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    width: fit-content;
  }

  tr, td, th {
    border-style: double;
  }

  img {
    width: 250px;
    height: auto;
  }
