<h1>Actor #<%= @actor_id %> details</h1>

<a href="/actors">Go back</a>
<hr>
<br>

<div>
  <div>Name</div>
    <div class="indented"><%=@actor_name%></div>
  <div>Dob</div>
    <div class="indented"><%=@actor_dob%></div>
  <div>Bio</div>
    <div class="indented"><%=@actor_bio%></div>
  <div>Image</div>
    <img class="indented" src=<%=@actor_image%>></div>
  <div>Created at</div>
    <div class="indented"><%=@actor_created_at%></div>
  <div>Updated at</div>
    <div class="indented"><%=@actor_updated_at%></div>
</div>
<br>
<hr>

<h1>Filmography</h1>
  <table border="1">
   <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>


  <% (0...@characters_played.length).each do |i|%>
    <tr>
      <td>
        <%= @movie_info.at(i).title %>
      </td>
      <td>
        <%= @movie_info.at(i).year %>>
      </td>
      <td>
        <%=Director.where({:id => @movie_info.at(i).director_id}).at(0).name%>
      </td>
      <td>
        <%= @character_name.at(i) %>
      </td>
      <td>
        <a href="/movies/<%= @movie_info.at(i).id %>">Show details</a>
      </td>
    </tr>
  <% end %>
  </table>

<style>
  .indented {
    margin-left: 40px;
  }

  img {
    width: 300px;
    height: auto;
  }
</style>
