<h1>Actor #<%= @actor_id %> details</h1>

<a href="/actors">Go back</a>

<div class="border-top border-bottom">
  <div>Name</div>
  <div><%=@actor_name%></div>
  <div>Dob</div>
  <div><%=@actor_dob%></div>
  <div>Bio</div>
  <div><%=@actor_bio%></div>
  <div>Image</div>
  <img src=<%=@actor_image%>></div>
</div>
